<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center ;overflow-x:scroll;overflow-y:scroll;">
  <h1>
    {{ title }}!
  </h1>
  
  <img width="600" src={{imageSrc}}/>
</div>
-->
<!--
<zoomable-canvas 
    [image]="image"
    (topChange)="top = $event" (bottomChange)="bottom = $event" 
    (leftChange)="left = $event" (rightChange)="right = $event"
    [(centerX)]="centerX" [(centerY)]="centerY"
    [(zoomLevel)]="zoomLevel" [maxZoom]="maxZoom" [minZoom]="0"
    (canvasWidthChange)="canvasWidth = $event" (canvasHeightChange)="canvasHeight = $event"
></zoomable-canvas>
-->


<!--
 <app-data-capture (renderImageEvent)="imageSrc=$event" ></app-data-capture>
  
-->

<app-data-capture ></app-data-capture> 

 